.subTitel{
    font-size: 12px;
    font-weight: 700;
    font-family: Arial;
}
.titel{
    font-size: 17px;
    font-family: Arial;
}
.infoFonster{
    padding:10px;
    height: 50px;
    width: 150px;
    background-color: #48b5e9;
    color: white;
    text-align:center;
    overflow:hidden;
}
.border{
   height: 121px;
   width: 150px;
   background:#333;
   color:#fff;
   text-align:center;
   padding:1px 10px 5px;
   overflow-y: auto;
}
