.subTitel{
    font-size: 12px;
    font-weight: 700;
    font-family: Arial;
}
.titel{
    font-size: 16px;
    font-family: Arial;
}
.infoFonster{
    padding: 10px;
    background-color: #48b5e9;
    color: white;
    margin: 0;
    
}